body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem; /*using percent is more useful. Website font will change when we change our brower font in setting.*/
    /* 16px=100%=1em */
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted #EAF6F6 6px;
    border-top: none;
    width: 4%;
    margin: 100px auto;
}
.top_container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px
}
.middle_container{
    margin: 50px 0 20px;
}
.bottom_container{
    background-color: #66BFBF ;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
} 
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.my-profile{
    height: 200px;
    width: 200px;
}
.intro{
    width: 30%;
    margin: 0px auto;
}
.contact-message{
    width: 30%;
    margin: 40px auto 60px;
}
.skills{
    width: 55%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.computer-image{
    width: 45%;
    float: left;
    margin-right: 30px;
}
.cricket-image{
    float: right;
}
.my-skills-h2{
    margin-bottom: 150px
}
.contact-me{
    padding-top: 100px;
}
.copyright{
    color: #EAF6F6;
    font-size: 12px;
    padding: 20px 0;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}